
.estimate-container {
  padding: 25px 25px 65px;
}
.estimate-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  & + .estimate-grid {
    margin-top: 32px;
  }
  &.bt {
    border-top: 1px solid #ebebeb;
  }
  &.calc-grid {
    grid-column-gap: 27px;
    .grid-top {
      border-bottom: none;
      padding-bottom: 11px;
      justify-content: flex-start;
    }
  }
}
.grid-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: $ft-semibold;
  padding-bottom: 13px;
  border-bottom: 1px solid #ebebeb;
  & > select {
    width: 362px;
    height: 44px;
    border: 1px solid #d1d1d1;
    padding: 0 16px;
    border-radius: 8px;
  }
  .ft-small {
    font-size: 13px;
    line-height: 19px;
    font-weight: $ft-regular;
    b {
      font-weight: $ft-bold;
    }
  }
  &.m-large {
    margin: 40px 0 12px;
  }
  &.bb-none {
    border-bottom: none;
  }
}
.grid-12 {
  grid-column: 12 span;
}
.grid-4 {
  grid-column: 4 span;
}
.grid-8 {
  grid-column: 8 span;
}
.grid-column {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  & > .grid-header {
    background-color: transparent;
    border-bottom: none;
    min-height: unset;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: $ft-medium;
    color: rgba(27, 43, 65, 0.69);
    text-align: left;
    display: block;
    &.header-medium {
      font-weight: $ft-bold;
      color: rgba(0, 0, 0, 0.69);
    }
    &.header-bold {
      font-weight: $ft-bold;
      color: #000000;
    }
  }
  .grid-contents {
    border-bottom: none;
    padding: 0;
    &.contents-won {
      &::after {
        right: 10px;
      }
    }
    &.flex-1 {
      flex: 1;
    }
    &.gap-0 {
      gap: 0;
    }
  }
}
.grid-header {
  grid-column: 1 span;
  min-height: 49px;
  background-color: #f1f4f9;
  font-weight: $ft-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb;
  text-align: center;
  line-height: 18px;
  font-size: 13px;
}
.grid-contents {
  grid-column: 3 span;
  padding: 0 12px;
  display: flex;
  align-items: center ;
  gap: 5px;
  border-bottom: 1px solid #ebebeb;
  font-size: 13px;
  &.grid-7 {
    grid-column: 7 span;
  }
  &.grid-11 {
    grid-column: 11 span;
  }
  & > select {
    width: 100%;
    height: 36px;
    border: 1px solid #e1e1e1;
    padding: 0 12px;
    font-size: 14px;
    border-radius: 4px;
  }
  & > input[type=text] {
    width: 100%;
    height: 36px;
    padding: 0 12px;
    text-align: right;
    font-size: 16px;
    border: 1px solid #bebebe;
    border-radius: 4px;
    position: relative;
    &:read-only {
      background-color: rgba(25, 59, 103, 0.05);
      border: none;
      color: rgba(25, 39, 57, 0.94);
    }
    &.text-input {
      text-align: left;
    }
    &.ft-14 {
      font-size: 14px;
      text-align: left;
    }
  }
  & > input[type=date] {
    width: 161px;
    height: 36px;
    padding: 0 12px;
    text-align: left;
    font-size: 12px;
    border: 1px solid #bebebe;
    border-radius: 4px;
  }
  &.contents-half {
    & > input[type=text] {
      width: 123px;
    }
  }
  .estimate-percent {
    line-height: 36px;
    padding: 0 4px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: rgba(25, 59, 103, 0.05);
  }
  .apply-button {
    width: 120px;
    height: 36px;
    background-color: #000000;
    border-radius: 0 4px 4px 0;
    font-size: 14px;
    font-weight: $ft-bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
.estimate-calc {
  margin: 23px 0 70px;
  position: relative;
  text-align: right;
  .calc-help-text {
    display: flex;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    & > span {
      background-color: rgba(255, 59, 59, 0.1);
      color: #e92c2c;
      padding: 3px 4px;
      border-radius: 4px;
      font-size: 14px;
    }
  }
  .calc-button {
    width: 165px;
    height: 36px;
    background-color: #000000;
    border-radius: 4px;
    font-size: 14px;
    font-weight: $ft-bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
.save-button {
  margin-top: 46px;
  display: flex;
  justify-content: flex-end;
  & > button {
    width: 173px;
    height: 44px;
    background-color: #989898;
    border-radius: 4px;
    font-size: 16px;
    font-weight: $ft-bold;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
}
.text-button {
  width: 100%;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: $ft-medium;
  color: #3182F7;
  &::placeholder {
    font-size: 12px;
    font-weight: $ft-bold;
    color: #3182F7;
    text-decoration: underline;
  }
}
.contents-won {
  position: relative;
  & > input {
    padding-right: 25px !important;
  }
  &::after {
    content: 'ì›';
    color: rgba(27, 43, 65, 0.69);
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }
}
.help-area {
  width: 100%;
  height: 140px;
  padding: 20px 13px;
  border: 1px solid #ebebeb;
  border-radius: 11px;
  resize: none;
  font-size: 14px;
}
.help-length {
  text-align: right;
  font-size: 14px;
  color: #ff2020;
  margin-top: 9px;
}
.estimate-buttons {
  margin-top: 24px;
  padding: 12px 16px;
  background-color: #fbfbfb;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  & > button {
    width: 120px;
    height: 37px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    font-weight: $ft-medium;
    border: none;
    &.button--gray {
      background-color: rgba(25, 59, 103, 0.05);
      color: #005FDB;
    }
    &.button--blue {
      background-color: #006AF5;
      color: #ffffff;
    }
  }
}