.market-detail-info {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  margin: 105px 0 74px;
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
  & > div {
    border-bottom: 1px solid #bebebe;
    border-right: 1px solid #bebebe;
  }
  .info-header {
    min-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    font-weight: $ft-semibold;
  }
  .info-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
    &.contents-3 {
      grid-column: 3 span;
    }
    &.flex-start {
      justify-content: flex-start;
      gap: 8px;
    }
    &.flex-column {
      flex-direction: column;
    }
    .info-contents-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      & > button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: #ffffff;
        font-size: 16px;
        font-weight: $ft-medium;
        gap: 8px;
        padding: 0 20px;
        cursor: pointer;
        & + button {
          margin-left: 15px;
        }
        &::after {
          content: '';
          display: block;
          width: 7px;
          height: 9px;
          background: url(/img/icon/expand-right-black.svg) no-repeat center/cover;
          margin-bottom: 2px;
        }
      }
    }
  }
}