.market-filter {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin: 66px 0 30px;
  position: relative;
  & > span {
    font-size: 16px;
    font-weight: $ft-medium;
    cursor: pointer;
    &.active {
      font-weight: $ft-bold;
    }
  }
  .filter-buttons {
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    & > button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      height: 40px;
      border: none;
      border-radius: 8px;
      background-color: #e5f3ff;
      font-size: 14px;
      color: #0085ff;
      font-weight: $ft-medium;
      padding: 0 12px;
      cursor: pointer;
      & > i {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #0085ff;
        color: #ffffff;
        font-size: 11px;
        font-style: normal
      }
    }
  }
}