@import "reset";
* {
  box-sizing: border-box;
}

body {
  background-color: $body-bg;
  color: $font-default;
  font: {
    family: 'Roboto', 'Noto Sans', sans-serif;
    weight: 400;
    size: 16px;
  }
}
