$prefix: 'pir';

// color
$white: #fff;
$gray:#808080;
$black: #000;

$primary: #7EF422 !default;
$secondary: #EAEAEA !default;
$accent: #FC3E36 !default;

$colors: (
        'primary':$primary,
        'secondary':$secondary
);

$colors-contrast: (
        'primary':$black,
        'secondary':$black
);

// 레이아웃
// $body-bg: #F2F3F5;
$body-bg: #ffffff;

$secondary-border: #EAEAEA;
$secondary-bg: #FBFBFB;

$mobile-header-height: 60px;


// 텍스트
$ft-thin: 100;
$ft-light: 300;
$ft-regular: 400;
$ft-medium: 500;
$ft-semibold: 600;
$ft-bold: 700;

$font-default: #000;
$font-secondary: #808080;
$font-default-size: 16px;


// 버튼 관련
$btn-border-color: $black;
$btn-border-width: 1px;
$btn-border-style: solid;
$btn-border-radius: 5px;
$btn-padding-x: 8px;
$btn-padding-y: 10px;
$btn-active-bg: rgba(255, 255, 255, .2);

$grid-gutter: 16px !default;
$grid-margin: 16px !default;


// z-index
$zi-dropdown: 1000 !default;
$zi-sticky: 1020 !default;
$zi-fixed: 1030 !default;
$zi-offcanvas-backdrop: 1040 !default;
$zi-offcanvas: 1045 !default;
$zi-modal-backdrop: 1050 !default;
$zi-modal: 1055 !default;
$zi-popover: 1070 !default;
$zi-tooltip: 1080 !default;
$zi-toast: 1090 !default;
