.table-column {
  display: flex;
  background-color: #f2f3f8;
  &.column-box {
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
    & + .column-box {
      border-top: none;
    }
    &.column-none {
      border: none;
    }
  }
}
.table-header {
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f3f8;
  font-size: 14px;
  font-weight: $ft-bold;
}
.table-contents {
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: $ft-medium;
  word-break: keep-all;
  &.contents-column {
    flex-direction: column;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: 8px;
    & > input {
      width: 16px;
      height: 16px;
    }
    & > span {
      font-size: 12px;
      font-weight: $ft-bold;
      color: #235bed;
    }
  }
}
.table-empty {
  width: 100%;
  min-width: 994px;
  height: 359px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: $ft-bold;
  color: #acacac;
  margin-top: 9px;
}
.table--blue {
  color: #3182f7;
}
.table--bold {
  font-weight: $ft-bold;
}
.table-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  line-height: 25px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  border: 1px solid #e7e7e7;
  .table-contents {
    height: 60px;
  }
  & + .flex-column {
    margin-top: 8px;
  }
}
.column-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 40px 0 50px;
  .bottom-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .bottom-tag {
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    padding: 0 15px;
    line-height: 27px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.88);
    margin-bottom: 6px;
  }
  .bottom-right {
    display: flex;
    align-items: center;
  }
}